@import "{}/client/styles/components/_variables.scss";

.home-background {
  top: 110px;
  height: 100%;
  width: 100%;
  position: fixed;
  //background-color: green;
  background-position: center 20px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;

  &.background-cover {
    background-size: cover;
  }
}
